<a [routerLink]="[index]" routerLinkActive="active" class="list-group-item clearfix">
    <div class="row">
        <div class="col-9">
            <div class="float-left">
                <h4 class="list-group-item-heading">{{recipe.name}}</h4>
                <p class="list-group-item-text">{{recipe.description}}</p>
            </div>
        </div>
        <div class="col-3"><span class="float-right ">
                <img src="{{recipe.imageUrl}}" alt="{{recipe.name}}" class="img-responsive" width="120px"
                    height="120px">
            </span></div>
    </div>

</a>