<div class="row">
    <div class="col-sm-12">
        <img src="{{recipe.imageUrl}}" alt="" class="img-responsive" width="100%" height="100%">
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="btn-group" appDropdown #r="appDropDown">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span
                    class='caret'></span></button>
            <ul class="dropdown-menu text-center" [ngClass]="{'show':r.isOpen}">
                <li><a (click)="AddToShoppingList()">To Shopping List</a></li>
                <li><a (click)="onEditRecipe()">Edit Recipe</a></li>
                <li><a (click)="onDeleteRecipe()">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        {{recipe.description}}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let igd of recipe.ingredients">
                <b>{{igd.name}}</b> - {{igd.amount}}
            </li>
        </ul>
    </div>
</div>